.signupForm {
  margin: 50px auto;
  padding: 30px;
}

.signupForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #000;
}

.inputGroup input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.submitButton {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .signupForm {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
  }
}

.container {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
