.container {
    border: 1px solid #fff;
    padding: 2rem;
    padding-bottom: 100px;
    max-width: 90%;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 2px 3px 10px 1px #ccc;
}
button {
  width: 300px;
}
.dashboard,
.contacts,
.about,
.profile {
  border: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}
.dashboard {
  margin: 3rem 0.8rem 0 0.8rem;
}
.contacts,.about, .profile {
  margin: 0.8rem 0.8rem;
}
